KlientTest/Service References/ServiceGameReference/Kontrakt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kontrakt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kontrakt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:Content" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="Content">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Content" nillable="true" type="tns:Content" />
  <xs:complexType name="EditableContent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Content">
        <xs:sequence>
          <xs:element minOccurs="0" name="EditableFields" nillable="true" type="tns:ArrayOfEditableField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditableContent" nillable="true" type="tns:EditableContent" />
  <xs:complexType name="ArrayOfEditableField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditableField" nillable="true" type="tns:EditableField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditableField" nillable="true" type="tns:ArrayOfEditableField" />
  <xs:complexType name="EditableField">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldType" type="tns:FieldType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditableField" nillable="true" type="tns:EditableField" />
  <xs:simpleType name="FieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STRING" />
      <xs:enumeration value="NUMBER" />
      <xs:enumeration value="DATE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldType" nillable="true" type="tns:FieldType" />
  <xs:complexType name="DocumentDoc">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Document">
        <xs:sequence>
          <xs:element minOccurs="0" name="cp_revision" type="xs:int" />
          <xs:element minOccurs="0" name="fontTable" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="style" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="theme" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentDoc" nillable="true" type="tns:DocumentDoc" />
  <xs:complexType name="DocumentPdf">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Document">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentCatalog" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outlineHierarchy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pageTree" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentPdf" nillable="true" type="tns:DocumentPdf" />
  <xs:complexType name="DocumentHtml">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Document">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentHtml" nillable="true" type="tns:DocumentHtml" />
</xs:schema>